<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}LabTrac{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="https://amfoss.in/favicon.png">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
            p,h1,h2,h3,h4,h5,h6,th,td,code{
                color: white;
                font-family: "Open Sans", sans-serif;
                font-style: normal;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% endblock head %}
</head>
<body>
    {% block main %}
    {% endblock main %}
</body>
</html>