{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>
    body {
        background-color: #000308;
        max-height: calc(100vh - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loginImg {
        margin-bottom: 30px;
    }
    .containerLogin {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        min-width: 300px;
        width: 450px;
        height: fit-content;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #2E333A;
    }
    .form-control {
        background-color: #20252D;
        width: 90%;
        height: 40px;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        border: none;
        color: white;
        border: 1px solid #2E333A;
        outline: none;
    }  
    .form-control:focus {
        border: 1px solid #A08C87;
    }
    .btnLogin {
        width: 60%;
        height: 40px;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        border: none;
        background-color: #20252D;
        color: white;
        font-size: medium;
    }
    .btnLogin:hover {
        background-color: #2E333A;
        color: white;
    }
    .loginHref {
        color: #A08C87;
    }
    .RegisterForm {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .loginRootContainer {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
{% endblock head %}
{% block main %}
<div class="loginRootContainer">
    <img class="loginImg" src="https://amfoss.in/branding/HORIZONTAL-TEXT-BULB-WHITE.svg" alt="Lab Trac Logo" width="200px">
    <div class="containerLogin">
        <h2>Register</h2>
        <form action="/register" method="POST" class="RegisterForm">
            <input type="text" name="username" id="username" class="form-control" placeholder="Username" required>
            <input type="password" name="password" id="passwordReg" class="form-control" placeholder="Password" required>
            <input type="password" name="confirm_password" id="confirm_passwordReg" class="form-control" placeholder="Confirm Password" required>
            <input type="text" name="name" id="name" class="form-control" placeholder="Name" required>
            <input type="text" name="rollNo" id="rollNo" class="form-control" placeholder="Roll Number" required>
            <button type="submit" class="btnLogin" id="registerBtn">Register</button>
        </form>
        <p>Already have an account? <a href="/login" class="loginHref">Login</a></p>
    </div>
</div>
<script>
    const pwd = document.getElementById('passwordReg');
    const confirm_pwd = document.getElementById('confirm_passwordReg');

    function checkSamePwd() {
        if (pwd.value !== confirm_pwd.value) {
            confirm_pwd.setCustomValidity('Passwords do not match');
        } else {
            confirm_pwd.setCustomValidity('');
        }
    }

    document.getElementById('registerBtn').addEventListener('click', function(event) {
        checkSamePwd();
        if (!confirm_pwd.checkValidity()) {
            event.preventDefault();
        }
    });
</script>
{% endblock %}
